<div class="card mb-5" *ngIf="member">
    <div class="card-img-wrapper">
        <img class="card-img-top" src="{{member.mainPhotoUrl|| './assets/images/default-user.png'}}" alt="{{member.aka}}">
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item">
                <button routerLink="/members/name/{{member.userName}}" class="btn btn-primary"> 
                  <fa-icon [icon]="faUser"></fa-icon>
                </button>
              </li>
            <li class="list-inline-item">
                <button class="btn btn-primary"> <fa-icon [icon]="faHeart"></fa-icon></button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-primary"> <fa-icon [icon]="faEnvelope"></fa-icon></button>
            </li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1">
            <fa-icon [icon]="faUser"></fa-icon> {{member.aka}}
        </h6>
        <p class="card-text text-muted text-center">{{member.city}}</p>
    </div>
</div>