<!-- snipet: div.container.mt-5 -->
<div class="container mt-5"> <!-- mt-4 : margin-top = 5 -->
    <div *ngIf="!regisMode" style="text-align: center;">
        <h1>Find people</h1>
        <p class="lead">Sign up for come on in to view !!</p>
        <div class="text-center">
            <button (click)="regisToggle()" 
                class="btn btn-primary btn-lg me-4">Sign-up</button>
                <!-- me-: margin-end = left and right -->
            <button class="btn btn-secondary btn-lg">Learn more</button>
        </div>
    </div>
    <div *ngIf="regisMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (isCancel)="cancelRegister($event)"></app-register>
            </div>
        </div>
    </div>
</div>